html, body {
    height: 100vh;
}

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    overflow-y: auto;
    font-family: 'Poppins', sans-serif;
}

button {
    width: 116px;
    height: 30px;
    padding: 8px 10px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 18px;
    font-size: 12px;
    cursor: pointer;
}

.header {       
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: center;
    background-color: #F9F9F9;;

}

.header-container {
    width: 100%;
    height: 45px;
    padding: 0 16px;
    max-width: 1174px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shopping-info {
    font-size: 11px;
    text-transform: uppercase;
}

  
.navigation-bar {
    display: flex;
    gap: 10px;
}
  
.navigation-item{
    text-decoration: none;
    color: #525252;
    padding-left: 24px;
    font-size: 12px;
}

.navigation-item:hover{
    color: #161616;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F9F9;
}

.content-container{
    padding: 0px  16px;
    max-width: 1174px;
    margin-bottom: 56px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.page-content-info{
    width: 100%;
    height: 174px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.page-content-info-container{
    width: 100%;
    max-width: 1174px;
    padding: 0 16px;
}

.page-content-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.page-content-header-contact{
    line-height: 24px;
    flex: 1;
    padding-right: 116px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 14px;
    color: #7D7D7D;
}

.page-content-header-contact i {
    font-size: 40px;
    margin-right: 13px;
    color: #FAD234;
}

    
.page-content-header-actions{
    display: flex;
    align-items: center;
    position: relative;
    background-color: white;
}

.search-box{
    overflow: hidden;
    border: 2px solid gold;
    border-radius: 40px;
}

.search-button{
    color: #333333;
}



.search-box input{
    border: none;
    width: 312px;
    height: 45px;
    padding-left: 13px;
    font-size: 13px;
}

.search-box input:focus{
    outline: none;
}

.page-content-header-actions button{
    width: unset;
    color: black;
    border: none;
    background-color: transparent;
}

.page-content-header-action-item button{
    width: unset;
    color: black;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.page-content-header-action-item button i{
    font-size: 20px;
}

.page-content-header-action-item{
    position: relative;
    padding-left: 24px;
}

.like-button{
    color: black;
}

.like-button:hover{
    transform: scale(1.1);
}

.shopping-cart-total-price{
    margin: 8px 0 0;
}

.shopping-cart-widget{
    display: none;
    border-top: 2px solid #FAD100;
    position:absolute;
    top: 49px;
    right: 0;
    background-color: white;
    z-index: 1;
}



.shopping-cart-checkout-button{
    width: 100% !important;
    height: 48px;
    font-size: 14px;
    color: white !important;
    border-radius: 4px;
    background-color: #666666 !important;
}

.shopping-cart-container{

    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.shopping-cart-items{
    display: flex;
    flex-direction: column;
    width: 328px;
}

.shopping-cart-item{
    width: 100%;
    padding-bottom: 16px;
    margin-top: 16px;
    border-bottom: 1px solid #EBEBEB ;
    display: flex;
}

.shopping-cart-item button{
    display: flex;
    height: 12px;
    align-items: center;
    cursor: pointer;
}

.shopping-cart-item img{
    height: 80px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

.shopping-card-bought-details{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 14px;
    padding-left: 8px;
    flex: 1;
    gap: 8px;
}

.shopping-card-bought-details .product-price{
    font-size: 21px;
}

.shopping-cart-total{
    width: 100%;
    gap: 8px;
    margin: 16px 0;
    font-weight: bold;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping-cart-total-actions{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.page-content-header-action-item span{
    min-width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gold;
    border-radius: 20px;
    font-size: 11px;
    padding: 2px;
    position: absolute;
    top: 22px;
    right: -4px;
}

.page-content-navigation{
    gap: 24px;
    width: 100%;
    display: flex;
}

.page-content-department-button{
    display: flex;
    align-items: center;
    padding-right: 100px;
    padding-left: 32px;
    gap: 8px;
    font-size: 15px;
    font-weight: bold;
    color: #554E32;
    text-decoration: none;
    height: 60px;
    background-color: #FAD234;
    border-top-right-radius: 24px;
    border-top-left-radius: 24px;
}


.page-content-navigation-bar{
    display: flex;
    align-items: center;
    gap: 10px;
}

.page-content-navigation-bar a{
    text-decoration: none;
    margin-right:  16px;
    padding-bottom: 8px;
    text-decoration: none;
    color: #170501;
}

.page-content-navigation-bar a:hover{
    transform: scale(1.1);
}

.page-content-navigation-bar-items.selected{
    color: #FAD234;
    border-bottom: 2px solid #FAD234;
    text-decoration: none;
}

.page-content-ads{
    margin-top: 30px;
    gap: 30px;
    display: flex;
    justify-content: space-around;
}

.page-content-ads-item{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    position: relative;
    background-color: white;
    background-image: url(/images/Wood\ Furniture.jpg);
    height: 620px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-content-ads-item-console{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-image: url(/images/lamps.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
    gap: 4px;
}

.page-content-ads-item-console.inverted{
    justify-content: flex-end;
}

.page-content-ads-item-console i{
    font-size: 24px;
    color: #FAD100;
}

.page-content-ads-item-console p{
    margin: 0;
}

.page-content-ads-item-console:last-child{
    background-image: url(/images/lamp2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.console-name{
    color: #7B7B7B;
}

.console-category{
    color: #333333;
    font-weight: bold;
}

.page-content-ads-products{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    position: relative;
    background-color: white;
    background-image: url("https://placehold.co/600x400");
    height: 206px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.page-content-ads-item p{
    margin: 0;
}

.page-content-ads-item .product-name{
    margin-top: 70px;
    font-size: 40px;
}

 .page-content-ads-item .product-category{
    font-size: 40px;
    font-weight: bold; 
}

.product-price{
    font-size: 30px;
    font-weight: bold;
    color: #CD131C;
}

.brand-logo-container{
    padding: 16px 24px;
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #EBEBEB;
}

.brand-logo-container img{
    width: 80px;
    height: 80px;
}


.page-content-services {
    width: 100%;
    height: 96px;
    display: flex;
    gap: 16px;
    align-items: center;
    border: 1px solid #EBEBEB;
}


.page-content-services-item {
    display: flex;
    padding-left: 16px;
    flex: 1;
}

.page-content-services-item i{
    margin-top: 24px;
    margin-right: 20px;
    color: #FAD234;
}

.page-content-services-description{
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-size: 14px;
    gap: 16px;
}

.page-content-services-description span:last-of-type{
    font-size: 12px;
}

.categories-content{
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.categories-column{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories-column-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.categories-column-decorations{
    flex: 1;
    height: 370px;
    border: 1px solid #EBEBEB;
    background-color: white;
    display: flex;
    align-items: center;
}

.categories-column-decorations img{
    height: 100%;
}

.categories-column-decorations .shop-actions-product-info{
    font-size: 13px;
}

.categories-column-features{
    width: 100%;
    height: 80px;
}

.categories-column-features-product{

}

.categories-column-arrivals{
    width: 100%;
    height: 80px;
}
.categories-column-best{
    width: 100%;
    height: 80px;
}

.shop-actions{
    gap: 30px;
    display: flex;
    justify-content: space-around;
}

.shop-actions-item{
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;
    background-color: white;
    background-image: url("https://placehold.co/400x400");
    height: 200px;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 130%;
    justify-content: center;
    align-items: flex-end;
}

.shop-actions-container{
    max-width: 45%;
    margin-right: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.shop-now-button:hover{
    transform: scale(1.1);
}

.shop-actions-container h2:first-child{
    color: #CD131C;
}

.shop-actions-container button{
    cursor: pointer;
    margin-top: 16px;
}

.shop-actions-container h1, h2{
    margin: 0;
}

h2{
    font-size: 15px;
}

h1{
    margin-left: 40px;
    font-size: 20px;
}

.shop-actions-categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-pagination{
    width: 40px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
}

.slider-pagination span{ 
    background-color: #C0C0C0;
    width: 12px;
    height: 12px;
    border-radius: 12px;
}

.slider-pagination span.active{
    background-color: #7B7B7B;
}

.shop-actions-categories-title{
    font-size: 24px;
    font-weight: normal;
    margin: 0;
}

.shop-actions-categories-title-separator{
    width: 56px;
    height: 6px;
    margin-top: 8px;
    border-radius: 5px;
    background-color: #FAD234;
}

.shop-actions-categories-container{
    width: 100%;
    margin-top: 30px;
    display: flex;
    gap: 30px;
}

.shop-actions-product{
    flex: 1;
    height: 560px;
    border: 1px solid #EBEBEB;
    background-color: white;
}

.shop-actions-product-info{
    width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 38%;
}

.shop-actions-product-info>.product-name{
    margin: 0;
}


.shop-actions-product-image-container{
    display: flex;
    align-items: center;
    height: 57%;
}

.shop-actions-product-image-container img{
    max-width: 100%;
}

.shop-actions-product-decorations{
    flex: 1;
    height: 370px;
    border: 1px solid #EBEBEB;
    background-color: white;
}

.price-discount{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.price-discount span:first-child{
    margin-right: 4px;
    font-size: 16px;
    font-weight: bold;
    color: #CD131C;
}

.price-discount span:last-of-type{
    color: #C0C0C0;
    text-decoration: line-through;
}

.product-rating{
    color: #FAD234;
}

.product-inventory-counts{
    display: flex;
    justify-content: space-between;
}

.product-inventory-counts span{
    font-size: 14px;
}

.product-inventory-bar{
    height: 16px;
    margin-top: 8px;
    border-radius: 5px;
    background-color: #EBEBEB;
}

.product-inventory-bar-able{
    width: 75%;
    height: 16px;
    margin-top: 8px;
    border-radius: 5px;
    background-color: #FAD234;
}

.discount-left-time{
    display: flex;
    align-items: center;
    margin-top: 16px;
    height: 60px;
    justify-content: space-around;
    border: 2px solid #FAD100;
    border-radius: 40px;
}

.discount-left-time-specific{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.discount-left-time-specific span:first-of-type{
    font-weight: bold;
}

.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-direction: column;
    align-items: center;
}

.footer-section{
    width: 100%;
    display: flex;
    justify-content: center;
}

.footer-section-container {
    width: 100%;
    max-width: 1174px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.subscribe-section {
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    background-color: #FAD234;
    justify-content: center;
}

.subscribe-section-container{
    font-weight: bold;
    width: 100%;
    padding: 0 16px;
    max-width: 1174px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subscribe-section-title{
    display: flex;
    align-items: center;
    gap: 16px;
}

.subscribe-container {
    width: 520px;
    height: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 22px;
    background-color: white;
    overflow: hidden;
}

.subscribe-email-input{
    border: none;
    width: 100%;
    font-size: 12px;
    padding: 5px 5px 5px 18px;
}

.subscribe-email-input:focus{
    outline: none;
}

.footer-navigation {
    width: 100%;
    height: 280px;
    padding-bottom: 40px;
    background-color:white;
    border-bottom: solid 2px #F3F3F3;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.footer-navigation-group.contact{
    flex: 1.5;
}

.footer-navigation-item {
    width: 100%;
    height: 50px;
}

.footer-navigation-group{
    display: flex;
    flex: 1;
    flex-direction: column;
    font-size: 14px;
    justify-content: space-between;
    color: #404040;
}

.footer-navigation-group a{
    text-decoration: none;
    color: #404040;

}

.footer-navigation-group.tweeter-feed{
    justify-content: flex-start;
    flex: 2;
}

.footer-navigation-group.tweeter-feed a{
    color: #40B3E6;
}

.footer-navigation-navigation-contact {
    display: flex;
    gap: 16px;
}

.footer-navigation-navigation-contact .fa-phone{
    color: #404040;
}

.footer-info {
    width: 100%;
    font-size: 14px;
    margin-top: 40px;
    height: 90px;
    display: flex;
    justify-content: space-between;
}

.social-media{
    height: 100%;
}

.social-media-brands{
    display: flex;
    gap: 20px;
}

.social-media a{
    color: #333333;
}

.payments-info{
    height: 50px;
}

.payments-info-cards{
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.payments-info-cards img{
    width: 40px;
}